extends ../layouts/default

block content
	.container.text-center.client-wrapper
		.row
			.col-md-12
				h1.contribution-title Client Downloads
				h4.contribution-subtitle.text-center In order to play Supreme Commander with other players, you must download our client. 
					|The client will co-exist with your current Forged Alliance installation, no files will be overridden.
					br
					|We are currently in a transition phase to a new java based client. If you are new please use the official client. 
					|The legacy client is only available in case of rare issues with the official client and is planned to be removed in April 2019.
					br
					br
					p If you would like to know more about the transition phase, see this announcement:
					p: a(href='https://github.com/FAForever/downlords-faf-client/wiki/Feature-Comparison')
				hr
		.row
			table
				colgroup
					col
					col
					col

				thead
					tr
						th &nbsp;
						th
							h2 Official Client
							a(href=downlords_faf_client_download_link) Download

						th
							h2 Legacy Client
							a(href=client_download_link) Download

				tfoot
					tr
						th &nbsp;
						td: a(href=downlords_faf_client_download_link) Download
						td: a(href=client_download_link) Download
